<% include ../layout/top.html %>
<form class="form-horizontal" action="/record/get">
    <fieldset>
        <legend>请填写其中一项资料进行查询</legend>
        <div class="form-group rows">
            <label class="col-sm-1 control-label">姓名</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" name="ownerName" value="" maxlength="30" />
            </div>
        </div>
        <div class="form-group rows">
            <label class="col-sm-1 control-label">电话</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" name="ownerTel" value="" maxlength="30" />
            </div>
        </div>
        <div class="form-group rows">
            <label class="col-sm-1 control-label">日期</label>
            <div class="col-sm-5">
                <input class="form-control" type="date" name="date" value="<%= get('today') %>" maxlength="30" />
            </div>
        </div>
        <div class="form-group rows">
            <label class="col-sm-1 control-label">车牌号码</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" name="carNum" value="" maxlength="30" />
            </div>
        </div>
        <div class="form-group rows">
            <label class="col-sm-1 control-label">单号</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" name="recordId" value="" maxlength="30" />
            </div>
        </div>
        <div class="form-actions rows">
            <label class="col-sm-1 control-label"></label>
            <input class="btn btn-primary" type="submit" value="确认"/>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    setTagActive("record_query");
</script>
<% include ../layout/bottom.html %>