<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>大伟鸿汽配</title>
      <link rel="stylesheet" href="/css/bootstrap.css" />
      <link rel="stylesheet" href="/css/bootstrap-theme.css" />
      <link rel="stylesheet" href="/css/base.css" />
      <script type="text/javascript" src="/js/jquery.js"></script>
      <script type="text/javascript" src="/js/base.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">大伟鸿汽配</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav" id="nav">
                  <li for="home"><a href="/">首页</a></li>
                  <li for="record_input"><a href="/tmpl?t=record/input">资料录入</a></li>
                  <li for="record_query"><a href="/tmpl?t=record/query">资料查询</a></li>
                  <li for="spending_input"><a href="/tmpl?t=spending/input">支出录入</a></li>
                  <li for="spending_query"><a href="/tmpl?t=spending/query">支出查询</a></li>
                  <li for="storage_query"><a href="/storage/get">仓库现状</a></li>
                  <li for="statistics"><a href="/tmpl?t=statistics/query">数据统计</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="container">