<% include ../layout/top.html %>
<link rel="stylesheet" href="/css/settlement.css"/>
<div class="hd not_print btns_wrp">
    <a class="btn btn-default" href="javascript:history.back()">返回</a>
    <a class="btn btn-success" href="javascript:window.narrow_print()">打印</a>
</div>
<div class="print_hd">
    <h3>佛山市南海区大伟鸿汽车服务部财务收支单</h3>
    <p>
        <span>地址：佛山市南海区小塘工业大道</span>
        <span>电话：0757-86638550</span>
    </p>
</div>
<div class="bd">
    <legend><%= startDate%>至<%= endDate%> 收支情况</legend>
    <%if(printData.length){%>
    <table class="table table-bordered narrow clickable">
        <thead>
        <tr>
            <th>日期</th>

            <th>总收入</th>
            <th>记账金额</th>
            <th>现金</th>

            <th>总支出</th>
            <th>维修成本</th>
            <th>其它支出</th>

            <th>本日利润</th>
            <th>进货支出</th>
            <th>本日现金</th>

            <th>洗车次数</th>
        </tr>
        </thead>
        <tbody>
        <%
            for(var i = 0; i < printData.length; ++i){
        %>
        <tr clickto="/statistics/get?startDate=<%= printData[i].date %>">
            <td title="日期"><%= printData[i].date %></td>

            <td title="<%= printData[i].date %>总收入"><%= printData[i].allRealCost %></td>
            <td title="<%= printData[i].date %>记账金额"><%= printData[i].allDelayPay %></td>
            <td title="<%= printData[i].date %>现金"><%= printData[i].allRealCost - printData[i].allDelayPay %></td>

            <td title="<%= printData[i].date %>总支出"><%= printData[i].ourSpend + printData[i].allItemCost %></td>
            <td title="<%= printData[i].date %>维修成本"><%= printData[i].ourSpend %></td>
            <td title="<%= printData[i].date %>其它支出"><%= printData[i].allItemCost %></td>

            <td title="<%= printData[i].date %>本日利润"><%= printData[i].allRealCost - (printData[i].ourSpend + printData[i].allItemCost) %></td>
            <td title="<%= printData[i].date %>进货支出"><%= printData[i].allPartCost %></td>
            <td title="<%= printData[i].date %>本日现金"><%= printData[i].allRealCost - (printData[i].ourSpend + printData[i].allItemCost) - printData[i].allDelayPay %></td>

            <td title="<%= printData[i].date %>洗车次数"></td>
        </tr>
        <%}%>
        </tbody>
    </table>

    <legend>合计</legend>
    <table class="table no_border">
        <tbody>
        <tr>

        </tr>
        </tbody>
    </table>
    <%}else{%>
    <div class="empty">暂无数据</div>
    <%}%>
</div>
<script type="text/javascript">
    setTagActive("statistics");
</script>
<% include ../layout/bottom.html %>